body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
  text-align: justify;
}

p code {
  color: #e83e8c;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
}

code span.co {
  color: darkmagenta;
}

div.sourceCode {
  background-color: seashell;
  margin-left: 1em;
}

@media print {
  div.sourceCode {
    background-color: seashell;
  }
}
